#root {
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #edeff2;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.app-container {
  font-family: "Manrope", sans-serif;
  width: 100%;
  min-height: 100vh;
}

.prod Button {
  transition: transform ease-in-out 0.3s !important;
}

.prod Button:hover {
  transform: scale(1.1);
}

.tabby {
  background-color: #edeff2 !important;
  min-height: 100vh;
}

.master-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  padding: 1vw;
}

.modal-title {
  font-family: "Overpass Mono", monospace;
}

.modal-header,
.modal-body,
.modal-footer {
  border: none !important;
}

.circle {
  height: 3.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.done {
  background-color: #0dcaf0;
}

.not {
  background-color: #555555;
}

.line {
  height: 0.3rem;
  width: 6rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.tracking-chart {
  margin-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ordered {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.ordered h5 {
  font-family: "Overpass Mono", monospace;
  margin: 0;
  font-size: medium;
}

.tracking-info {
  font-family: "Overpass Mono", monospace;
}

.modal-dialog {
  width: 80vw !important;
}

.modal-footer Button,
.tracking-details Button {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  color: #edeff2;
}

.status-update {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.update-control {
  width: 150px !important;
  font-family: "Manrope", sans-serif;
}
